.col-lg-12
  %table.table.table-bordered
    %thead
      %tr
        %th
          type of raid
        %th
          raided at
        %th
          zip code
        %th
          number of clients involved
        %th
          number of arrests
        %th
          name of answerer
        %th
          age of answerer
        %th
          how did ice make its presence known
        %th
          narrative of door interaction
        %th
          narrative of entrance
        %th
          narrative of interaction inside home
        %th
          how did they respond to any medical issues
        %th
          how did they respond to any childcare issues
        %th
          were other arrests made?
        %th
          notes
        %th
          show
        %th
          edit
    %tbody
      = render raids
