%h2
  = link_to 'Create New Client', new_client_path

%table
  %th
    %td
      name
    %td
      address
    %td
      gender
    %td
      country_of_origin
    %td
      started_us_residence_at
    %td
      family_in_us
    %td
      notes
    %td
      contact_phone_number

  = render @clients
