%h2
  = link_to 'Create New Client', new_client_path


.col-lg-12
  %table.table.table-hover
    %thead
      %tr
        %th
          name
        %th
          address
        %th
          gender
        %th
          country_of_origin
        %th
          started_us_residence_at
        %th
          family_in_us
        %th
          notes
        %th
          contact_phone_number
        %th
          edit
    %tbody
      = render @clients
