%h1 New Client

- if @client.errors.any?
  %h4
    = pluralize(@client.errors.count, "error")
    prohibited this article from being saved
  %ul
    - @client.errors.full_messages.each do |msg|
      %li= msg

= render 'form'
