development:
  adapter: postgresql
  database: rader_development
  pool: 5

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: rader_test
  pool:     5
  username: rader
  password:
  template: template0
